{% for speaker_name in talk.speakers -%}
  {%- assign speaker = site.speakers | where: 'name', speaker_name | first -%}
  {%- if site.conference.speakers.show_firstname -%}
    {%- assign speaker_short = speaker.first_name | append: ' ' | append: speaker.last_name -%}
  {%- else -%}
    {%- assign speaker_short = speaker.first_name | slice: 0 | append : '. ' | append: speaker.last_name -%}
  {%- endif -%}

  {%- if speaker.hide or include.text_only -%}
    {{- speaker_short -}}
  {%- else -%}
    <a class="text-reset" href="{{ speaker.url | prepend: site.baseurl }}">
      {{- speaker_short -}} {%- if speaker.function -%}&nbsp;<span class="speaker-function">–&nbsp;{{- speaker.function -}}</span>{%- endif -%}{%- if speaker.long_title -%}&nbsp;:&nbsp;{{- speaker.long_title --}}{%- endif -%}
    </a>
  {%- endif -%}

  {%- unless forloop.last %}
    {%- assign forloop_index_before_last = talk.speakers.size | minus: 1 -%}
    {% if forloop.index == forloop_index_before_last and include.text_only %} {{ site.data.lang[site.conference.lang].pronoun.and | default: 'and' }} {% else %}, {% endif -%}
  {%- endunless -%}

{%- endfor -%}
