{%- if room.hide or site.conference.location.hide -%}
  <span class="badge badge-light font-weight-normal text-left"><i class="far fa-square"></i>&nbsp;{{ room.name }}</span>
{%- else -%}
  <a href="{{ room.url | prepend: site.baseurl }}" class="badge badge-light font-weight-normal"><i class="fa fa-compass"></i>&nbsp;{{ room.name }}</a>
{%- endif -%}
