{% include partials/header.html %}

{% if page.title -%}
  <h1 class="display-5 mb-5">{{ page.title }}</h1>
{%- endif %}

<div id="gallerie-photos">

{% for image in site.static_files %}
    {% if image.path contains 'images/photos' %}
      <a data-fslightbox="gallery" href="{{ site.baseurl }}{{ image.path }}"><img src="{{ site.baseurl }}{{ image.path  | replace: "photos", "thumbnails" | replace: ".jpg", "_tn.jpg" | replace: ".jpeg", "_tn.jpg" | replace: ".png", "_tn.jpg" }}" alt="{{ image.basename | replace: "-"," " }}" /></a>

    {% endif %}
{% endfor %}

</div>

{% include partials/footer-photos.html %}